html {
  font-size: 16px;
}
body {
  color: #383838;
  font-size: 14px;
  font-family: SF PRO Text, Segoe UI, PingFang SC, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SF PRO Display, Segoe UI, Tahoma, PingFang SC, sans-serif;
}
@media screen and (max-width: 1024px) {
  body {
    width: 1024px;
  }
  .header .search {
    width: 1024px;
  }
  .header .isFixed {
    padding-left: 1%;
  }
}
.h-container {
  padding: 0 12%;
}
p {
  font-family: SF PRO Text, Segoe UI, Tahoma, PingFang SC, sans-serif;
}
/*list*/
ul,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.font-success {
  color: #67c23a;
}
.font-warning {
  color: #e6a23c;
}
.font-danger {
  color: #f56c6c;
}
.font-info {
  color: #909399;
}
a {
  text-decoration: none;
  color: #333;
}
.hide {
  display: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.br5 {
  border-radius: 5px;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
