$main_color1: #01337e;
$main_color2: #0f8ac2;
$main_color3: #f87941;
$main_color4: #fff;
$main_color_greyish: #b7b7b7;
$main_color_green: #4e9b32;
$blue1:#01337e;
$blue2:#0f8ac2;
$blue3:#002e7c;
$blue4:#002b55;
$blue5:#4574eb;
$black1:#383838;
$black2:#6c6c6c;
$black3:#707070;
$black4:#888888;
$black5:#333333;
$black6:#505050;
$black7: #fafafa;
$black8: #999999;
$green1: #3a8e1b;
$green2: #14ac03;
$green3: #4e9b32;
$green4: #4a783c;
$orange1:#f87941;
$gold: #cba052;
$red1:#ff4141;
$red2:#ff2323;
$red3:#ff4e4e;
$white1:#fff;
$purple: #b06c95;
$text_color: #383838;
$green: #79b264;
$gray: #f5f5f5;
$gray1: #cecece;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;
$darkblue:#002855;
$gold:#cba052;

.clearfix{
  &:before,&:after{
      display: table;
      content:'';
      height:0;
  }
  &:after{
    clear: both;
  }
}

html,body, p, form ,ul,li{
  margin: 0;
  padding:0;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
html, body {
  width:100%;
  height: 100%;
  background-color: #ffffff;
  font-family: Rubik, Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
ul,
li {
  list-style: none;
}
a:link, a:visited, a:hover, a:active {
  outline: none;
  cursor: pointer;
}
a {
  outline: none;
  text-decoration: none;
  color: #333;
}
table{
  border-collapse: collapse;
}
input,
textarea {
  border: none;
  font-family: SegoeUI;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
}

select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: none;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*将背景改为绿色*/
  background: #fff;
  /*留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/

select::-ms-expand {
  display: none;
}
img{
  vertical-align: middle;
}
.clearfix{
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SF PRO Display, Segoe UI, Tahoma, PingFang SC, sans-serif;
}

@mixin font ($font-size, $font-weight: normal, $color: #333333,  $font-family: Segoe UI) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color:$color;
}


p {
  font-family: SF PRO Text, Segoe UI, Tahoma, PingFang SC, sans-serif;
}

/*list*/
li {
  list-style: none;
}

.font-success{
  color: $success;
}
.font-warning{
  color: $warning;
}
.font-danger{
  color: $danger;
}
.font-info{
  color: $info;
}

.hide{
  display:none;
}

.br5 {
  border-radius: 5px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin ellipsis-line($line: 2) {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  line-clamp: $line;
  -webkit-box-orient: vertical;
}
