@import "common";



@media screen and (max-width:1024px)  {
  body {
    width: 1024px;
  }
  .header .search{
    width:1024px;
  }
  .header .isFixed{
    padding-left:1%;
  }
}

.h-container{
  padding:0 12%;
  background-color:#fafafa;
}
